// import vendor scripts
@import 'vendor/normalize';
// @import 'vendor/flickity';

// import partials
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/forms';
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/grid';
@import 'partials/tables';
@import 'partials/navigation';

// import modules
@import 'modules/header';
@import 'modules/footer';
@import 'modules/home';
@import 'modules/contact';
@import 'modules/slideshow';
// @import 'modules/woocommerce';

html {
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
}

body,input, textarea, select, button {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background: #B3D4FC;
}

*, *:before, *:after {
	box-sizing: border-box;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.centering {
	margin: auto;
	max-width: $centering-width;
	width: 100%;
	padding-left: $centering-gutter;
	padding-right: $centering-gutter;
}
