$font-family-base: 'Arial', sans-serif;
$icon-family-base: 'Project Name';
$font-size-base: 14px;
$line-height-base: 1.3;
$text-color: #080808;
$link-color: #b60005;
$headings-font-family: $font-family-base;
$headings-font-weight: 700;
$headings-line-height: 1.3;
$headings-color: #b60005;
$brand-color: #3590F3;
$brand-color-alt: #000000;
$button-color: $brand-color;
$button-text-color: #ffffff;
$mobile: 480px;
$small-tablet: 768px;
$tablet: 1024px;
$small-desktop: 1280px;
$desktop: 1480px;
$viewport-increment: 1px; // layout
$grid-columns: 12;
$grid-gutter: 20px; // header
$desktop-header-height: 60px;
$mobile-header-height: 60px;
$hamburger-height: 21px;
$hamburger-width: 30px;
$hamburger-line-height: 3px;
$hamburger-translateY: ($hamburger-height - $hamburger-line-height) / 2; // centering
$centering-width: 1320px; // centering-width = width + (gutter * 2)
$centering-gutter: 20px;