@import url(https://fonts.googleapis.com/css?family=Nunito);/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.footer:after,
.main-nav .menu:after,
.header:after,
.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class^=icon-]:before {
  line-height: 1;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Project Name";
}

[class^=icon-social][href*=google]:before,
[class^=icon-social].icon-google:before {
  content: "g";
}

[class^=icon-social][href*=facebook]:before,
[class^=icon-social].icon-facebook:before {
  content: "f";
}

[class^=icon-social][href*=instagram]:before,
[class^=icon-social].icon-instagram:before {
  content: "i";
}

[class^=icon-social][href*=linkedin]:before,
[class^=icon-social].icon-linkedin:before {
  content: "l";
}

[class^=icon-social][href*=pinterest]:before,
[class^=icon-social].icon-pinterest:before {
  content: "p";
}

[class^=icon-social][href*=twitter]:before,
[class^=icon-social].icon-twitter:before {
  content: "t";
}

[class^=icon-social][href*=youtube]:before,
[class^=icon-social].icon-youtube:before {
  content: "y";
}

::-webkit-input-placeholder {
  color: #222222;
}

:-moz-placeholder {
  color: #222222;
}

::-moz-placeholder {
  color: #222222;
}

:-ms-input-placeholder {
  color: #222222;
}

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: white;
  border-radius: 0;
  border: 1px solid #cccccc;
  color: #080808;
  font-family: "Arial", sans-serif;
  line-height: 1.3;
  outline: none;
  width: 100%;
  height: 52px;
  padding: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
textarea:focus {
  border-color: #999999;
  outline: none;
}

textarea {
  line-height: 1.5;
  min-height: 118px;
  padding: 10px 12px;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3590F3;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  padding: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
.h1 {
  font-size: 42px;
  margin: 0;
}

h2,
.h2 {
  font-size: 26px;
  margin: 0 0 10px 0;
}

h3,
.h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
}

h4,
.h4 {
  font-size: 14px;
  margin: 0 0 5px 0;
}

h5,
.h5 {
  font-size: 14px;
  margin: 0 0 5px 0;
}

h6,
.h6 {
  font-size: 14px;
  margin: 0 0 5px 0;
}

a {
  color: #3590F3;
}

p {
  margin: 0 0 1em;
}

.button-secondary,
.button {
  background-color: #3590F3;
  border-radius: 0;
  border: 1px solid #3590F3;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  outline: 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #0d70db;
}

.button-secondary {
  background-color: #fff;
  border-color: #3590F3;
  color: #3590F3;
}

.button-secondary:hover {
  background-color: #dfdfdf;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

[class^=grid-],
[class*=" grid-"] {
  padding: 20px;
}

.grid-xs-1 {
  width: calc( 100% / ( 12 / 1 ) );
}

.offset-xs-1 {
  margin-left: calc( 100% / ( 12 / 1 ) );
}

.grid-xs-2 {
  width: calc( 100% / ( 12 / 2 ) );
}

.offset-xs-2 {
  margin-left: calc( 100% / ( 12 / 2 ) );
}

.grid-xs-3 {
  width: calc( 100% / ( 12 / 3 ) );
}

.offset-xs-3 {
  margin-left: calc( 100% / ( 12 / 3 ) );
}

.grid-xs-4 {
  width: calc( 100% / ( 12 / 4 ) );
}

.offset-xs-4 {
  margin-left: calc( 100% / ( 12 / 4 ) );
}

.grid-xs-5 {
  width: calc( 100% / ( 12 / 5 ) );
}

.offset-xs-5 {
  margin-left: calc( 100% / ( 12 / 5 ) );
}

.grid-xs-6 {
  width: calc( 100% / ( 12 / 6 ) );
}

.offset-xs-6 {
  margin-left: calc( 100% / ( 12 / 6 ) );
}

.grid-xs-7 {
  width: calc( 100% / ( 12 / 7 ) );
}

.offset-xs-7 {
  margin-left: calc( 100% / ( 12 / 7 ) );
}

.grid-xs-8 {
  width: calc( 100% / ( 12 / 8 ) );
}

.offset-xs-8 {
  margin-left: calc( 100% / ( 12 / 8 ) );
}

.grid-xs-9 {
  width: calc( 100% / ( 12 / 9 ) );
}

.offset-xs-9 {
  margin-left: calc( 100% / ( 12 / 9 ) );
}

.grid-xs-10 {
  width: calc( 100% / ( 12 / 10 ) );
}

.offset-xs-10 {
  margin-left: calc( 100% / ( 12 / 10 ) );
}

.grid-xs-11 {
  width: calc( 100% / ( 12 / 11 ) );
}

.offset-xs-11 {
  margin-left: calc( 100% / ( 12 / 11 ) );
}

.grid-xs-12 {
  width: calc( 100% / ( 12 / 12 ) );
}

.offset-xs-12 {
  margin-left: calc( 100% / ( 12 / 12 ) );
}

@media screen and (min-width: 768px) {
  .grid-s-1 {
    width: calc( 100% / ( 12 / 1 ) );
  }

  .offset-s-1 {
    margin-left: calc( 100% / ( 12 / 1 ) );
  }

  .grid-s-2 {
    width: calc( 100% / ( 12 / 2 ) );
  }

  .offset-s-2 {
    margin-left: calc( 100% / ( 12 / 2 ) );
  }

  .grid-s-3 {
    width: calc( 100% / ( 12 / 3 ) );
  }

  .offset-s-3 {
    margin-left: calc( 100% / ( 12 / 3 ) );
  }

  .grid-s-4 {
    width: calc( 100% / ( 12 / 4 ) );
  }

  .offset-s-4 {
    margin-left: calc( 100% / ( 12 / 4 ) );
  }

  .grid-s-5 {
    width: calc( 100% / ( 12 / 5 ) );
  }

  .offset-s-5 {
    margin-left: calc( 100% / ( 12 / 5 ) );
  }

  .grid-s-6 {
    width: calc( 100% / ( 12 / 6 ) );
  }

  .offset-s-6 {
    margin-left: calc( 100% / ( 12 / 6 ) );
  }

  .grid-s-7 {
    width: calc( 100% / ( 12 / 7 ) );
  }

  .offset-s-7 {
    margin-left: calc( 100% / ( 12 / 7 ) );
  }

  .grid-s-8 {
    width: calc( 100% / ( 12 / 8 ) );
  }

  .offset-s-8 {
    margin-left: calc( 100% / ( 12 / 8 ) );
  }

  .grid-s-9 {
    width: calc( 100% / ( 12 / 9 ) );
  }

  .offset-s-9 {
    margin-left: calc( 100% / ( 12 / 9 ) );
  }

  .grid-s-10 {
    width: calc( 100% / ( 12 / 10 ) );
  }

  .offset-s-10 {
    margin-left: calc( 100% / ( 12 / 10 ) );
  }

  .grid-s-11 {
    width: calc( 100% / ( 12 / 11 ) );
  }

  .offset-s-11 {
    margin-left: calc( 100% / ( 12 / 11 ) );
  }

  .grid-s-12 {
    width: calc( 100% / ( 12 / 12 ) );
  }

  .offset-s-12 {
    margin-left: calc( 100% / ( 12 / 12 ) );
  }
}

@media screen and (min-width: 1024px) {
  .grid-m-1 {
    width: calc( 100% / ( 12 / 1 ) );
  }

  .offset-m-1 {
    margin-left: calc( 100% / ( 12 / 1 ) );
  }

  .grid-m-2 {
    width: calc( 100% / ( 12 / 2 ) );
  }

  .offset-m-2 {
    margin-left: calc( 100% / ( 12 / 2 ) );
  }

  .grid-m-3 {
    width: calc( 100% / ( 12 / 3 ) );
  }

  .offset-m-3 {
    margin-left: calc( 100% / ( 12 / 3 ) );
  }

  .grid-m-4 {
    width: calc( 100% / ( 12 / 4 ) );
  }

  .offset-m-4 {
    margin-left: calc( 100% / ( 12 / 4 ) );
  }

  .grid-m-5 {
    width: calc( 100% / ( 12 / 5 ) );
  }

  .offset-m-5 {
    margin-left: calc( 100% / ( 12 / 5 ) );
  }

  .grid-m-6 {
    width: calc( 100% / ( 12 / 6 ) );
  }

  .offset-m-6 {
    margin-left: calc( 100% / ( 12 / 6 ) );
  }

  .grid-m-7 {
    width: calc( 100% / ( 12 / 7 ) );
  }

  .offset-m-7 {
    margin-left: calc( 100% / ( 12 / 7 ) );
  }

  .grid-m-8 {
    width: calc( 100% / ( 12 / 8 ) );
  }

  .offset-m-8 {
    margin-left: calc( 100% / ( 12 / 8 ) );
  }

  .grid-m-9 {
    width: calc( 100% / ( 12 / 9 ) );
  }

  .offset-m-9 {
    margin-left: calc( 100% / ( 12 / 9 ) );
  }

  .grid-m-10 {
    width: calc( 100% / ( 12 / 10 ) );
  }

  .offset-m-10 {
    margin-left: calc( 100% / ( 12 / 10 ) );
  }

  .grid-m-11 {
    width: calc( 100% / ( 12 / 11 ) );
  }

  .offset-m-11 {
    margin-left: calc( 100% / ( 12 / 11 ) );
  }

  .grid-m-12 {
    width: calc( 100% / ( 12 / 12 ) );
  }

  .offset-m-12 {
    margin-left: calc( 100% / ( 12 / 12 ) );
  }
}

@media screen and (min-width: 1280px) {
  .grid-md-1 {
    width: calc( 100% / ( 12 / 1 ) );
  }

  .offset-md-1 {
    margin-left: calc( 100% / ( 12 / 1 ) );
  }

  .grid-md-2 {
    width: calc( 100% / ( 12 / 2 ) );
  }

  .offset-md-2 {
    margin-left: calc( 100% / ( 12 / 2 ) );
  }

  .grid-md-3 {
    width: calc( 100% / ( 12 / 3 ) );
  }

  .offset-md-3 {
    margin-left: calc( 100% / ( 12 / 3 ) );
  }

  .grid-md-4 {
    width: calc( 100% / ( 12 / 4 ) );
  }

  .offset-md-4 {
    margin-left: calc( 100% / ( 12 / 4 ) );
  }

  .grid-md-5 {
    width: calc( 100% / ( 12 / 5 ) );
  }

  .offset-md-5 {
    margin-left: calc( 100% / ( 12 / 5 ) );
  }

  .grid-md-6 {
    width: calc( 100% / ( 12 / 6 ) );
  }

  .offset-md-6 {
    margin-left: calc( 100% / ( 12 / 6 ) );
  }

  .grid-md-7 {
    width: calc( 100% / ( 12 / 7 ) );
  }

  .offset-md-7 {
    margin-left: calc( 100% / ( 12 / 7 ) );
  }

  .grid-md-8 {
    width: calc( 100% / ( 12 / 8 ) );
  }

  .offset-md-8 {
    margin-left: calc( 100% / ( 12 / 8 ) );
  }

  .grid-md-9 {
    width: calc( 100% / ( 12 / 9 ) );
  }

  .offset-md-9 {
    margin-left: calc( 100% / ( 12 / 9 ) );
  }

  .grid-md-10 {
    width: calc( 100% / ( 12 / 10 ) );
  }

  .offset-md-10 {
    margin-left: calc( 100% / ( 12 / 10 ) );
  }

  .grid-md-11 {
    width: calc( 100% / ( 12 / 11 ) );
  }

  .offset-md-11 {
    margin-left: calc( 100% / ( 12 / 11 ) );
  }

  .grid-md-12 {
    width: calc( 100% / ( 12 / 12 ) );
  }

  .offset-md-12 {
    margin-left: calc( 100% / ( 12 / 12 ) );
  }
}

@media screen and (min-width: 1480px) {
  .grid-1 {
    width: calc( 100% / ( 12 / 1 ) );
  }

  .offset-1 {
    margin-left: calc( 100% / ( 12 / 1 ) );
  }

  .grid-2 {
    width: calc( 100% / ( 12 / 2 ) );
  }

  .offset-2 {
    margin-left: calc( 100% / ( 12 / 2 ) );
  }

  .grid-3 {
    width: calc( 100% / ( 12 / 3 ) );
  }

  .offset-3 {
    margin-left: calc( 100% / ( 12 / 3 ) );
  }

  .grid-4 {
    width: calc( 100% / ( 12 / 4 ) );
  }

  .offset-4 {
    margin-left: calc( 100% / ( 12 / 4 ) );
  }

  .grid-5 {
    width: calc( 100% / ( 12 / 5 ) );
  }

  .offset-5 {
    margin-left: calc( 100% / ( 12 / 5 ) );
  }

  .grid-6 {
    width: calc( 100% / ( 12 / 6 ) );
  }

  .offset-6 {
    margin-left: calc( 100% / ( 12 / 6 ) );
  }

  .grid-7 {
    width: calc( 100% / ( 12 / 7 ) );
  }

  .offset-7 {
    margin-left: calc( 100% / ( 12 / 7 ) );
  }

  .grid-8 {
    width: calc( 100% / ( 12 / 8 ) );
  }

  .offset-8 {
    margin-left: calc( 100% / ( 12 / 8 ) );
  }

  .grid-9 {
    width: calc( 100% / ( 12 / 9 ) );
  }

  .offset-9 {
    margin-left: calc( 100% / ( 12 / 9 ) );
  }

  .grid-10 {
    width: calc( 100% / ( 12 / 10 ) );
  }

  .offset-10 {
    margin-left: calc( 100% / ( 12 / 10 ) );
  }

  .grid-11 {
    width: calc( 100% / ( 12 / 11 ) );
  }

  .offset-11 {
    margin-left: calc( 100% / ( 12 / 11 ) );
  }

  .grid-12 {
    width: calc( 100% / ( 12 / 12 ) );
  }

  .offset-12 {
    margin-left: calc( 100% / ( 12 / 12 ) );
  }
}

table {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

.hamburger {
  width: 30px;
  height: 21px;
  position: absolute;
  display: block;
  margin: 20px;
  display: none;
  right: 0;
  top: 0;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }
}

.hamburger [class^=line-] {
  display: block;
  background: white;
  width: 30px;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 2px;
  transition: all 300ms, opacity 100ms;
  outline: 1px solid transparent;
}

.hamburger [class^=line-].line-1 {
  top: 0;
}

.hamburger [class^=line-].line-2 {
  top: 9px;
}

.hamburger [class^=line-].line-3 {
  bottom: 0;
}

.hamburger.is-active .line-1 {
  -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
          transform: translateY(9px) translateX(0) rotate(45deg);
}

.hamburger.is-active .line-2 {
  opacity: 0;
}

.hamburger.is-active .line-3 {
  -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
          transform: translateY(-9px) translateX(0) rotate(-45deg);
}

.is-noscroll {
  pointer-events: none;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .is-noscroll.is-open-menu {
    pointer-events: auto;
    height: auto;
    overflow: auto;
  }
}

.is-noscroll .header,
.is-noscroll .main-nav,
.is-noscroll .top {
  pointer-events: auto;
}

.header {
  background-color: #3590F3;
  padding: 1em 0;
  position: relative;
  z-index: 200;
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 60px;
  }
}

.header img {
  display: block;
}

.main-nav {
  color: white;
}

.main-nav .menu {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 40px -15px 0;
  padding: 0;
  justify-content: center;
}

.main-nav .menu-item {
  margin: 0 15px;
  text-transform: uppercase;
}

.main-nav .menu-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
}

.main-nav .menu-item a:hover {
  color: #D1D1D1;
}

.main-nav .sub-menu {
  display: none;
}

.main-nav .open-submenu > .sub-menu {
  display: block;
}

@media screen and (max-width: 767px) {
  .main-nav {
    -webkit-overflow-scrolling: touch;
    background: white;
    height: calc(100% - 60px);
    left: 0;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 60px;
    transition: opacity 350ms ease, visibility 350ms ease;
    visibility: hidden;
    width: 100%;
    z-index: 100;
    color: black;
  }

  .is-open-menu .main-nav {
    opacity: 1;
    visibility: visible;
  }

  .main-nav .menu {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin: 0;
  }

  .main-nav .menu-item {
    float: none;
    margin: 20px 0;
  }

  .main-nav .menu-item a {
    font-size: 28px;
  }

  .main-nav.is-active {
    height: 100%;
  }
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  padding: 1em 0;
}

.hero {
  height: 45vh;
  display: flex;
  text-align: center;
}

.justify-content-center {
  max-width: 600px;
  margin: 50px auto 0;
}

.wpcf7 .screen-reader-response {
  display: none !important;
}

.wpcf7 .wpcf7-not-valid-tip {
  display: block;
}

.wpcf7 .wpcf7-validation-errors {
  color: #B60005;
}

.slideshow .slideshow-slide {
  width: 100%;
  height: 500px;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #080808;
}

body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #B3D4FC;
}

::selection {
  background: #B3D4FC;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.centering {
  margin: auto;
  max-width: 1320px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

