@import 'hamburger';

.is-noscroll {
	pointer-events: none;
	height: 100%;
	overflow: hidden;
	@include at-least($small-tablet) {
		&.is-open-menu {
			pointer-events: auto;
			height: auto;
			overflow: auto;
		}
	}

	.header,
	.main-nav,
	.top {
		pointer-events: auto;
	}
}

.header {
	background-color: $brand-color;
	padding: 1em 0;
	position: relative;
	z-index: 200;
	@extend %clearfix;
	@include until($small-tablet) {
		min-height: $mobile-header-height;
	}

	img {
		display: block;
	}
}

.main-nav {
	color: white;

	.menu {
		@extend %clearfix;
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		margin: 40px -15px 0;
		padding: 0;
		justify-content: center;
	}

	.menu-item {
		margin: 0 15px;
		text-transform: uppercase;

		a {
			text-decoration: none;
			font-size: 18px;
			font-weight: 400;
			color: inherit;

			&:hover {
				color: #D1D1D1;
			}
		}
	}

	.sub-menu {
		display: none;
	}

	.open-submenu > .sub-menu {
		display: block;
	}
	@include until($small-tablet) {
		-webkit-overflow-scrolling: touch;
		background: white;
		height: calc(100% - #{$mobile-header-height});
		left: 0;
		opacity: 0;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: $mobile-header-height;
		transition: opacity 350ms ease, visibility 350ms ease;
		visibility: hidden;
		width: 100%;
		z-index: 100;
		color: black;

		.is-open-menu & {
			opacity: 1;
			visibility: visible;
		}

		.menu {
			display: flex;
			flex-flow: column wrap;
			text-align: center;
			margin: 0;
		}

		.menu-item {
			float: none;
			margin: 20px 0;

			a {
				font-size: 28px;
			}
		}

		&.is-active {
			height: 100%;
		}
	}
}

.header-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
}